<script>
	$.ajax({
  headers: { 'X-Auth-Token': '5c0c8d0a6c48428b8337cb1913570b17' },
    url: 'http://api.football-data.org/v1/soccerseasons/398/leagueTable',
  dataType: 'json',
  type: 'GET',
}).done(function(response) {
  // do something with the response, e.g. isolate the id of a linked resource        
 
  var data=new Array(response.standing);
console.log(data)
var i=0;
  while(i!=17){
   document.getElementById('details').innerHTML+=data[0][i].teamName+"<img width=30 height=30 src="+data[0][i].crestURI+">"+"<br>";
   i++;
  }
  
    
}); 

</script>